* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 9;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    height: 80px;
    align-items: center;
}

.menu li a {
    padding-left: 32px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.menu_link {
    margin-left: 407px;
}

.menu li a:hover {
    color: #c7b299;
    transition: 0.5s;
}

.slide {
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.slide_content {
    position: relative;
    width: 100%;
    text-align: center;
}

.content__title {
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 11px;
}

.content__subtitle {
    color: #fff;
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 13px;
    margin-top: -6px;
}

.content__info {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    color: #fff;
    margin-bottom: 33px;
}

.content__btn {
    background: #998675;
    color: #fff;
    padding: 13px 28px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content__btn:hover {
    background-color: #fff;
    color: #333;
    transition: 0.9s;
}

.content__btn_slide_two {
    background: none;
    border-color: #fff;
    color: #fff;
    padding: 13px 28px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

.content__btn_slide_two:hover {
    background-color: #fff;
    color: #333;
    transition: 0.9s;
}

.owl-carousel .nav-button {
    position: absolute;
    top: 39%;
    cursor: pointer;
    height: 80px;
    width: 40px;
    color: #8c8c8c;
    font-size: 120px;
    border-radius: 3px;
}

.owl-carousel .nav-button:hover {
    color: #ffffff;
    transition: 0.5s;
}

.owl-prev {
    left: 35px;
}

.owl-next {
    right: 35px;
}

.mobile_menu {
    display: none;
}

.menu_btn {
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    position: relative;
}

.menu_btn span,
.menu_btn span:before,
.menu_btn span::after {
    display: block;
    width: 20px;
    height: 2px;
    background: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    transition: all 0.4s linear;
}

.menu_btn span:before,
.menu_btn span::after {
    content: '';
}

.menu_btn span:before {
    transform: translateY(-5px);
}

.menu_btn span::after {
    transform: translateY(5px);
}

@media (max-width:992px) {
    .mobile_menu {
        display: block;
        position: absolute;
        right: 30px;
        top: 20px;
    }
    .menu_btn.menu_active span:before {
        width: 10px;
        transform: rotate(-45deg);
        transform-origin: left bottom;
    }
    .menu_btn.menu_active span:after {
        width: 10px;
        transform: rotate(45deg);
        transform-origin: left top;
    }
    .menu_wrap {
        visibility: hidden;
        opacity: 0;
    }
    .menu_wrap.menu_active {
        visibility: visible;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        background: #222;
        width: 100%;
        height: 100vh;
        display: flex;
        transition: all 0.5s linear;
    }
    .menu_wrap.menu_active .menu {
        margin: auto;
        display: block;
        text-align: center;
    }
    .menu_wrap.menu_active .menu li {
        padding-top: 20px;
    }
    .menu_link {
        margin: 0;
    }
}