* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hidden {
    overflow: hidden;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 9;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li a {
    margin-left: 32px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.menu li a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    opacity: 0;
    border-bottom: 1px solid #c7b299;
}

.menu li a:hover:before {
    opacity: 1;
    transition: 0.5s;
}

.menu li a:hover {
    color: #c7b299;
    transition: 0.5s;
}

.slide {
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.slide_content {
    position: relative;
    width: 100%;
    text-align: center;
}

.content__title {
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 11px;
}

.content__subtitle {
    color: #fff;
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 13px;
    margin-top: -6px;
}

.content__info {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    color: #fff;
    margin-bottom: 33px;
}

.content__btn {
    background: #998675;
    color: #fff;
    padding: 13px 28px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content__btn:hover {
    background-color: #fff;
    color: #333;
    transition: 0.9s;
}

.content__btn_slide_two {
    background: none;
    border-color: #fff;
    color: #fff;
    padding: 13px 28px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

.content__btn_slide_two:hover {
    background-color: #fff;
    color: #333;
    transition: 0.9s;
}

.owl-carousel .nav-button {
    font-size: 121px;
    color: #8c8c8c;
}

button.owl-prev {
    position: absolute;
    top: 39%;
    cursor: pointer;
    height: 80px;
    width: 40px;
}

button.owl-next {
    position: absolute;
    top: 39%;
    cursor: pointer;
    height: 80px;
    width: 40px;
}

.owl-carousel .nav-button:hover {
    color: #ffffff;
    transition: 0.5s;
}

.owl-prev {
    left: 35px;
}

.owl-next {
    right: 35px;
}

.mobile_menu {
    display: none;
}

.menu_btn {
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    position: relative;
}

.menu_btn span,
.menu_btn span:before,
.menu_btn span::after {
    display: block;
    width: 20px;
    height: 2px;
    background: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    transition: all 0.4s linear;
}

.menu_btn span:before,
.menu_btn span::after {
    content: '';
}

.menu_btn span:before {
    transform: translateY(-5px);
}

.menu_btn span::after {
    transform: translateY(5px);
}

.services {
    padding: 80px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    width: 25%;
    padding: 0 30px;
}

.item {
    text-align: center;
}

.icon {
    font-size: 35px;
    color: #555555;
    margin-bottom: 22px;
}

.icon__title {
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    text-decoration: none;
}

.icon__subtitle {
    color: #8c8c8c;
    margin-top: 20px;
}

.item:hover i,
.item:hover a {
    color: rgba(199, 178, 153, 0.7);
    transition: all 0.4s;
}

.slogan {
    width: 100%;
    text-align: center;
}

.slogan__title {
    font-size: 42px;
    line-height: 53px;
    color: #555555;
    font-weight: 400;
}

.slogan__subtitle {
    color: #8c8c8c;
    margin: 20px 0px 40px 0px;
}

.waxom_image {
    padding: 60px 0px;
}

.col-4 {
    width: 33.333333%;
    padding: 0 15px;
}

.img_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_item {
    position: relative;
    overflow: hidden;
    height: 300px;
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #0009;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}

.img_item:hover .overlay {
    opacity: 1;
}

.video {
    background: url(../img/fancy.jpeg);
    background-attachment: fixed;
    width: 100%;
    height: 705px;
}

.video_item {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    top: 40%;
}

.video_item a:hover {
    color: rgba(199, 178, 153, 0.7);
    transition: all 0.4s;
}

.video_play {
    font-size: 90px;
    color: #fff;
}

.fancy_title {
    padding: 15px 0 8px 0;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.fancy_subtitle {
    color: #fff;
}

.devices {
    padding: 60px 0 0 0;
}

.wrap {
    display: flex;
}

.info_title {
    padding-top: 70px;
    font-size: 42px;
    line-height: 53px;
    color: #555555;
}

.info_subtitle {
    color: #8c8c8c;
    padding: 20px 0;
}

.info_list li {
    color: #8c8c8c;
    margin: 30px 0px 0px 100px;
}

.clients {
    background: #251e1c;
    padding: 80px 0;
    text-align: center;
}

.col-6 {
    width: 20%;
}

.clients_icon {
    font-size: 60px;
    color: #c7b299;
}

.clients_count {
    padding: 5px 0;
    font-size: 48px;
    color: #ffffff;
    font-weight: 900;
}

.clients_title {
    font-weight: 500;
    color: #c7b299;
}

.posts {
    padding: 80px 0;
}

.posts button.owl-prev {
    position: absolute;
    top: 10%;
    cursor: pointer;
    height: 80px;
    width: 40px;
    color: #8c8c8c;
    font-size: 80px;
    border-radius: 3px;
}

.posts button.owl-next {
    position: absolute;
    top: 10%;
    cursor: pointer;
    height: 80px;
    width: 40px;
    color: #8c8c8c;
    font-size: 80px;
    border-radius: 3px;
}

.owl-carousel .nav-button-two:hover {
    color: #ffffff;
    transition: 0.5s;
}

.main_date {
    width: 50px;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 40px;
    color: #ffffff;
    overflow: hidden;
}

.posts_content {
    padding: 28px 29px 6px 29px;
}

.posts_content h3 {
    font-size: 21px;
    color: #555555;
}

.posts_content p {
    color: #555555;
    font-size: 14px;
    padding: 8px 0;
}

.posts_content a {
    text-decoration: none;
    color: #c7b299;
}

.catalog_main {
    background: url(../img/main-page-partners-bg.jpeg);
    height: 490px;
    background-attachment: fixed;
    padding: 140px 0;
}

.bottom {
    padding: 80px 0;
    background: #191919;
}

.logo_title {
    color: #8c8c8c;
    margin-top: 20px;
}

.title_post {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
}

.bottom_item {
    padding: 16px 0 15px 0;
    border-top: 1px solid #252525;
}

.item_first .bottom_item:first-child {
    border: none;
}

.bottom_item a {
    color: #555555;
    text-decoration: none;
    cursor: pointer;
}

.bottom_item p {
    padding-top: 3px;
    font-size: 12px;
    color: #c7b299;
}

.fancy_size {
    object-fit: cover;
    width: 75px;
    height: 75px;
}

.footer {
    padding: 45px 0;
    background: #111111;
}

.foot_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_foot {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu_foot li a {
    color: #555555;
    text-decoration: none;
    cursor: pointer;
    margin-left: 32px;
}

.copyleft .menu_foot a {
    font-size: 23px;
    color: #555555;
}